.banner {
    height: 56vh;
    background-size: cover;
    background-position: center;
    background-image: no-repeat;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.banner::before {
    content: '';
    background:linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    height: 56vh;
    width: 100%;
}

.banner-text-area {
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 2em;
    position: relative;
}

.banner-text-area > * {
    z-index: 2;
}