@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    margin: 0;
    background-color: #000000;
    color: #ffffff;
  }
  
.search-input {
    background-color: gray;
    color: lightgray;
    border: 1px solid gray;
}

.search-input::placeholder {
  color: #ffffff !important;
  opacity: 0.7;
}

.nav-link {
  color: #ffffff !important;
}
  


.noto-sans-kr-500 {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.nanum-pen-script-regular {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

