@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');

body {
  font-family: "Nanum Gothic Coding", monospace;
}

.navi-top {
  display: flex;
  justify-content: flex-end;
}


.search {
  margin-top:15px;
}

.search input{
  width:300px;
  border: none;
  margin-left: 3px;
  outline: none;
}

.search-bar{
  border-bottom: 2px solid black;
  padding: 5px;
}


.login-button {
  display: flex;
  font-family: "Nanum Gothic Coding", monospace;
  justify-content: flex-end;
  margin: 25px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  padding-top:10px;
  display: flex;
  list-style-type: none;
}

.menu-list li {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  padding: 10px;
}


.menu-area {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  padding:10px;
}



.menu-area {
  display: flex;
  justify-content: center;
}

.product-card {
  cursor:pointer;
  transition: all 0.2s linear;
}

.product-card img {
  width:100%;
}



/* 1. hover 시 이미지 커지기 */
.product-card:hover {
  transform: scale(1.1);
}


.product-img {
  display: flex;
  justify-content: flex-end;
}


.product-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-left: 15px;
}


.product-badge {
  padding-left: 15px;
  font-size: 12px;
  color: #666;
  margin-bottom: 25px;
  display: inline-block;
}